<div class="card">
    <div class="card-body">
      <h5 class="card-title">Ventas</h5>

      <h5>Total de ventas: <%= data.total %></h5>

      <div class="col-md-2">
        <% if (prev) { %>
            <a class="btn btn-primary bi-arrow-left" href="<%= prev %>"></a>
        <% } %>
        <% if (next) { %>
            <a class="btn btn-primary bi-arrow-right" href="<%= next %>"></a>
        <% } %>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <% if (estado) { %>
              <th scope="col">Fecha</th>
              <th scope="col">N° Factura</th>
              <th scope="col">SubTotal</th>
              <th scope="col">Iva</th>
              <th scope="col">Total</th>
            <% } else { %>
                <th scope="col">N° Factura</th>
                <th scope="col">Total</th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% if (estado) { %>
            <% for(let i=0; i < total.length; i++) { %>
              <tr>
                  <td><%= total[i].createdAt %></td>
                  <td><%= total[i].OrderId %></td>
                  <td><%= total[i].neto %></td>
                  <td><%= total[i].iva_valor %></td>
                  <td><%= total[i].total %></td>
              </tr>
            <% } %>
          <% } else { %>
            <% for(let i=0; i < total.length; i++) { %>
              <tr>
                  <td><%= total[i].OrderId %></td>
                  <td><%= total[i].total %></td>
              </tr>
            <% } %>
          <% } %>
          
        </tbody>
      </table>

    </div>
  </div>