<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head/head-2') %>
</head>

<body>

  <header id="header" class="header fixed-top d-flex align-items-center">
    <%- include('../../partials/header/header-2') %>
  </header>

  <aside id="sidebar" class="sidebar">
    <%- include('../../partials/aside') %>
  </aside>
  
  <main id="main" class="main">
    <%- include('../../partials/mantenimiento/restaurar/tabla') %> 
  </main>

  <footer id="footer" class="footer">
    <%- include('../../partials/footer') %>
  </footer>

  <%- include('../../partials/javascript/javascript-2') %>

</body>

</html>